body{
    background: #f5f5f5;
}

.divider{
    width: 68px;
    border-bottom: solid 3px #000000;
    margin: 0 auto;
}

.hover-shadow{
    transition: all 0.5s;
}

.hover-shadow:hover{
    box-shadow: 4px 7px #000000;
}

.cursor-pointer{
    cursor: pointer;
}

.bg-light-dark{
    background: #eaeaea;
}

.bg-jumboText{
    background: url("images/banner.jpg");
    background-size: cover;
}